React_App_Movie_DB_API_KEY = 
React_App_Movie_DB_API_READ_ACCESS_TOKEN = 
React_App_Mobive_DB_Discover_Movie_API = https://api.themoviedb.org/3/discover/movie/
React_APP_Movie_Image_End_Point = https://image.tmdb.org/t/p/w500
React_App_SERVER_API = <your server end point>